@model IEnumerable<JetSetterProject.Models.Ad>

    @{
        ViewData["Title"] = "Company Ads";
    }

<h1>Current Ad List</h1>

<p>
    <a asp-action="Create" class="btn btn-success" >Create Ad</a>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.AdID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                <img width="300" src="@Html.DisplayFor(modelItem => item.Image)" />
            </td>
            
            <td>
                <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.AdID">Edit</a> 
                <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.AdID">Details</a> 
                <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.AdID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
