@model jetsetterProj.Models.Diary

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Country)</h2>
<hr />
<div class="row">
    <div class="jumbotron jumbotron-fluid" style="color: white; background-size: cover; background-position: center; background-image: url(@Html.DisplayFor(model => model.Image)">
        <div class="container" style="background-color: rgba(255, 0, 0, 0.15); border-radius: 25px;">
            <h1 class="display-4">@Html.DisplayFor(model => model.Country)</h1>
            <h3>@Html.DisplayFor(model => model.City)</h3>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" disabled />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-4">
                <label asp-for="City">City</label>
                <input asp-for="City" class="form-control" placeholder="City" disabled>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-4">
                <label asp-for="DateStamp">Date</label>
                <input asp-for="DateStamp" class="form-control" placeholder="Date" disabled>
                <span asp-validation-for="DateStamp" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DiaryEntry">Diary</label>
            <textarea asp-for="DiaryEntry" type="text" class="form-control" rows="6" placeholder="Diary" disabled></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Tips">Tips</label>
            <textarea asp-for="Tips" type="text" class="form-control" rows="3" placeholder="Tips" disabled></textarea>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.DiaryID" class="btn btn-primary" role="button">Edit</a>
        <a asp-action="Index" class="btn btn-primary" role="button">Back to List</a>
    </div>
</div>
