@model jetsetterProj.Models.Diary

@{
    ViewData["Title"] = "Details";
}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Details</h2>
            <p class="lead text-muted">
                A summary of you travel entries
            </p>
        </div>
    </section>
</main>


<div class="album py-5 bg-light">
    <div class="container text-center">
        <div class="row">
            <h4 class="text-monospace">Diary</h4>
            <hr />


                <dl class="dl-horizontal d-flex flex-column">
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.ActualDate)
                    </dt>
                    <dd class="col-sm-9 ">
                        @Html.DisplayFor(model => model.ActualDate)
                    </dd>
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.DateStamp)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DateStamp)
                    </dd>
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.Tips)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Tips)
                    </dd>
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.DiaryEntry)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DiaryEntry)
                    </dd>
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Country)
                    </dd>
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.Private)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Private)
                    </dd>
                    <dt class="col-sm-3 badge badge-light">
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Image)
                    </dd>
                </dl>
            </div>

        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.DiaryID" class="btn btn-primary" role="button">Edit</a>
            <a asp-action="Index" class="btn btn-primary" role="button">Back to List</a>

        </div>

    </div>
</div>